<ion-view title="Page" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/GAks9KalSBqqZvyBKRwz_header.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form2" class="list">
      <label class="item item-input item-floating-label" id="page2-input5">
        <input type="text" ng-model="signUpInfo.nombre" placeholder="Nombre">
      </label>
      <label class="item item-input item-floating-label" id="page2-input6">
        <input type="text" ng-model="signUpInfo.apellido" placeholder="Apellidos">
      </label>
      <label class="item item-input" id="page2-input7">
        <input type="email" ng-model="signUpInfo.correo" placeholder="Correo electrónico">
      </label>
      <label class="item item-input" id="page2-input8">
        <input type="password" ng-model="signUpInfo.password" placeholder="Contraseña">
      </label>
      <label class="item item-input" id="page2-input9">
        <span class="input-label">Fecha de Nacimiento:</span>
        <input type="date" ng-model="signUpInfo.fecha">
      </label>
      <label class="item item-select" id="page2-select1">
        <span class="input-label">Género</span>
        <select ng-model="signUpInfo.genero">
          <option>Femenino</option>
          <option>Masculino</option>
          <option>Otro</option>
        </select>
      </label>
    </form>
    <a ui-sref="page3" id="page2-button4" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" ng-click="signUserUp();">Crear Cuenta</a>
    <div class="list card" id="page2-card23">
      <div class="item item-body" id="page2-list-item-container4">
        <div id="page2-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Al utilizar FreeOrdeR está aceptando los Términos y condiciones del Servicio y las Políticas de Privacidad.</p>
        </div>
      </div>
      <ion-item id="page2-list-item6">Más información en freeOrder.co</ion-item>
    </div>
  </ion-content>
</ion-view>