<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/0NCobP6QeCJUV0s7gNBz_header.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form4" class="list">
      <ion-item class="item-divider" id="page3-list-item-divider3"> Información Personal</ion-item>
      <label class="item item-input item-floating-label" id="page3-input12">
        <input type="tel" placeholder="Teléfono celular">
      </label>
      <label class="item item-input item-floating-label" id="page3-input13">
        <input type="text" placeholder="Dirección de facturación">
      </label>
      <label class="item item-input item-floating-label" id="page3-input14">
        <input type="text" placeholder="Código postal">
      </label>
      <label class="item item-select" id="page3-select2">
        <span class="input-label">Ciudad</span>
        <select>
          <option>Bogotá</option>
          <option>Manizales</option>
          <option>Medellin</option>
          <option>Cali</option>
          <option>Santa Marta</option>
          <option>Cartagena</option>
          <option>Pereira</option>
        </select>
      </label>
      <!--<ion-item class="item-divider" id="page3-list-item-divider4"> Información financiera</ion-item>
      <label class="item item-input" id="page3-input16">
        <input type="text" placeholder="Número de la tarjeta">
      </label>
      <label class="item item-input" id="page3-input17">
        <input type="text" placeholder="Nombre como aparece en la tarjeta">
      </label>
      <label class="item item-select" id="page3-select3">
        <span class="input-label">Mes de vencimiento</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </label>
      <label class="item item-select" id="page3-select4">
        <span class="input-label">Año de Vencimiento</span>
        <select>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
        </select>
      </label>-->
      <a ui-sref="page4" id="page3-button5" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block">Continuar</a>
    </form>
  </ion-content>
</ion-view>