<ion-view title="Productos" id="page10"  class="bar-positive">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="producto in detallesProducto">
        <h1 id="page6-heading1" style="color:#000000;text-align:center;">{{producto.nombre}}</h1>
        <div>
        <img src="{{producto.imagen}}" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="page6-list-item-container5">
        <h2 id="page6-heading2" style="color:#000000;text-align:center;">{{producto.descripcion}}</h2>
        <h2 id="page6-heading3" style="color:#000000;text-align:center;">{{producto.valor | currency}}</h2>
        <form id="page10-form1" class="list">
            <label class="item item-input" id="page-input3">
                <span class="input-label">Cantidad</span>
                <input type="text" ng-value="producto.cantidad" ng-model="producto.cantidad" min="1" step="1" max="50">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Comentarios</span>
                <input type="text" ng-model="producto.comentario" ng-value="producto.comentario" placeholder="Comentarios sobre este producto"/>
            </label>
         </form>
        </div>
               <div class="list">
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Tamaño
                    </div>
                    <select ng-model="tamanoSelected" ng-options="tamano as tamano.nombre for tamano in tamanoProducto track by tamano.id" >
                      <option value="">--Elige opcion--</option>
                    </select>
                  </label>
                </div>
                <div class="item item-divider"> Seleccione los adicionales (Opcional)
                </div>
                  <ion-list ng-repeat="adicional in adicionales" >
                    <ion-checkbox ng-model="adicionalesSelected" ng-change="adicionalSelected(adicional.id)">{{adicional.nombre}}</ion-checkbox> 
                    
                  </ion-list>
                
                <button id="page6-button6" style="font-weight:500;" class="button button-positive  button-block" ng-click="agregarPedidoId(producto.id, producto.comentario, producto.cantidad, tamanoSelected.id);agregarPedidoCompleto(producto); agregarComentario();cantidadProductosPedidos(producto.cantidad);">Agregar
                </button>
                    
                
    </div>

</ion-content>
</ion-view>