<ion-view title="Page" id="page10"  class="bar-positive">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="producto in productos">
        <h1 id="page6-heading1" style="color:#000000;text-align:center;">{{producto.nombre}}</h1>
        <div>
        <img src="{{producto.imagen}}" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="page6-list-item-container5">
        <h2 id="page6-heading2" style="color:#000000;text-align:center;">{{producto.descripcion}}</h2>
        <h2 id="page6-heading3" style="color:#000000;text-align:center;">{{producto.valor | currency}}</h2>
        <form id="page10-form1" class="list">
            <label class="item item-input" id="page-input3">
                <span class="input-label">Cantidad</span>
                <input type="number"  autofocus="autofocus" ng-value="producto.cantidad" ng-model="producto.cantidad" min="1" step="1" max="50">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Comentarios</span>
                <input type="text" ng-model="producto.comentario" ng-value="producto.comentario" placeholder="Comentarios sobre este producto"/>
            </label>
         </form>
        <button id="page6-button6" style="font-weight:500;" class="button button-positive  button-block" ng-click="agregarPedidoId(producto.id, producto.comentario, producto.cantidad);agregarPedidoCompleto(producto); agregarComentario()">Agregar</button>
        </div>
    </div>
        <div class="col-sm-3 carrito">        
      <h4><i class="fa fa-shopping-cart"></i> Carrito de compras</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="producto in carritoCompleto">
               {{producto.nombre}}
                <strong class="pull-right">{{producto.valor}}</strong>
            </li>
        </ul>
        <h2>Total:  ${{total()}} </h2>
        <button class="btn btn-danger" ng-click="comprar();">Confirmar pedido</button>
        <button class="btn btn-danger" ng-click="eliminarPedido();">Eliminar Pedido</button>
    </div>
        </div>
    </div>
</ion-content>
</ion-view>