<ion-view title="Pedido" id="page7">
  <ion-content padding="true" class="has-header">
    <p style="color:#000000;text-align:center; font-size: 30px; padding-bottom: 15px;  padding-top: 15px">COMBO COSTILLAS</p>
    <div>
      <img src="img/salento/costillas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="item item-body" id="page6-list-item-container5">
      <h2  style="color:#000000;text-align:center;">Costillas BBQ + Papas a la francesa + Bebida</h2>
      <h2 style="color:#000000;text-align:center;">Precio: $9.500</h2>
      <form>
         <label class="item item-input item-floating-label">
            <span class="input-label">Comentario</span>
            <input type="text" placeholder="Comentario">
        </label>
      </form>
     <a ui-sref="page8"> <button id="page6-button6" style="font-weight:500;" class="button button-positive  button-block">Agregar</button></a>
    </div>
  </ion-content>
</ion-view>