<ion-view title="Iniciar Sesion" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/GAks9KalSBqqZvyBKRwz_header.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form2" class="list">     
      <label class="item item-input" id="page2-input7">
        <input type="email" ng-model="loginInfo.correo" placeholder="Correo electrónico">
      </label>
      <label class="item item-input" id="page2-input8">
        <input type="password" ng-model="loginInfo.password" placeholder="Contraseña">
      </label>
    </form>
    <a id="page9-button4" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" ng-click="loginUser();">Ingresar</a>
    <p style="text-align: center">¿No tienes una cuenta? Registrate <a ui-sref="page2" id="page9-button4">aquí</a></p>
    <div class="list card" id="page2-card23">
      <div class="item item-body" id="page2-list-item-container4">
        <div id="page2-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Al utilizar FreeOrdeR está aceptando los Términos y condiciones del Servicio y las Políticas de Privacidad.</p>
        </div>
      </div>
      <ion-item id="page2-list-item6">Más información en freeOrder.co</ion-item>
    </div>
  </ion-content>
</ion-view>