<ion-view title="Configuración" id="page12">
  <ion-content padding="true" class="has-header">
  <div class = "row">
   <div class = "col">
     <form id="page3-form4" class="list">
      <form id="page2-form2" class="list">
      <ion-item class="item-divider" id="page3-list-item-divider3"> Información Personal</ion-item>
            <label class="item item-input" id="page-input3">
                <span class="input-label">Nombre: </span>
                <h3>{{nombre}}</h3>                
            </label>
            <label class="item item-input" id="page-input3">
                <span class="input-label">Apellidos: </span>
                <h3>{{apellidos}}</h3>              
            </label>
            <label class="item item-input" id="page-input3"  style="word-wrap: break-word">
                <span class="input-label">Correo: </span>
                <h3>{{correo}}</h3>                
            </label>
            <label class="item item-input" id="page-input3">
                <span class="input-label">Teléfono: </span>
                <h3>{{telefono}}</h3>                
            </label>
            <label class="item item-input" id="page-input3">
                <span class="input-label">Ciudad: </span>
                <h3>{{ciudad}}</h3>                
            </label>
    </form>
    </div>
</div>
<div class="row">
<div class = "col col-50 ">
      <a id="page12-button5" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" ng-click="editPerfil();">Editar</a>
</div>
<div class = "col col-50 ">
 <a id="page12-button6" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" ng-click="logout();">Cerrar Sesion</a>
</div>
</div>
</ion-content>
</ion-view>