<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/siYrzrgyQ6awHrqmCej0_header.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="page5-list4">
      <ion-item class="item-thumbnail-left" id="page5-list-item15">
        <img src="img/fzn7z5sxR9GfrENezpXb_pizzafactory.png">
        <h2>Pizza Factory</h2>
        <p>Especialidad: Pasta</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page5-list-item16" ui-sref="page6">
        <img src="img/JMgeETFhSeSGJpyUM1ef_salento.jpg">
        <h2>Salento con: Trucha y Patacón</h2>
        <p>Especialidad: Variado</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page5-list-item17">
        <img src="img/SLQuco5DSoCyAOifswSI_pandabamboo.jpg">
        <h2>Panda Bamboo</h2>
        <p>Especialidad: Saludable</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page5-list-item18">
        <img src="img/aqx0Fs4JSvyyj6NHBriY_texmexexpress.png">
        <h2>Tex Mex Express</h2>
        <p>Especialidad: Mexicano</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page5-list-item19">
        <img src="img/ufcMrrOpScWXq8UO5TRf_Snackffle.jpg">
        <h2>Snackffle</h2>
        <p>Especialidad: Variado</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>