
<ion-view title="Categorias"  id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding has-header">
 <div  ng-repeat="restaurante in restaurantes">
      <img src="{{restaurante.imagen}}" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div ng-repeat="categoria in categorias" style="width: 30%; height: auto; float: left">
      <img src="{{categoria.imagen}}" ng-click="consul_Productos(categoria.id);" style="width:100%;height:auto;">
    </div>
  </ion-content>
</ion-view>