<ion-view title="Productos" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pedido-card22">
      <ion-item class="item-thumbnail-left positive" id="pedido-list-item10" ng-repeat="producto in productos">
        <img src="{{producto.imagen}}">
        <h2positive>{{producto.nombre}}
          <p style="white-space:normal;">{{producto.valor | currency}}</p>
          <!--<p style="white-space:normal;">{{producto.descripcion}}</p>-->
        </h2positive>
      <a id="page12-button5" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" ng-click="ver_Producto(producto.id);">Ver</a>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
