<ion-view title="Page" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="row">
        <div class="col-sm-9">
            <div  class="push-left well col-sm-3 producto" ng-repeat="producto in productos">            
                <h4>{{producto.nombre}}</h4>            
                <div class="imagen">
                    <img ng-src="{{producto.imagen}}" width="50">
                </div>            
                <div class="precio">{{producto.valor | currency}}</div>            
                <p>
                    {{producto.descripcion}}
                </p>
                <button class="btn btn-danger" ng-click="agregar(producto);">Adicionar</button>
            </div>

        <div class="col-sm-3 carrito">        
        <h4><i class="fa fa-shopping-cart"></i> Carrito de compras</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="producto in carrito">
               {{producto.nombre}}
                <strong class="pull-right">{{producto.valor}}</strong>
            </li>
        </ul>
        <h2>Total:  ${{total()}} </h2>
        <button class="btn btn-danger" ng-click="comprar();">Confirmar pedido</button>
        <button class="btn btn-danger" ng-click="eliminarPedido();">Eliminar Pedido</button>
    </div>
        </div>
    </div>
</ion-content>
</ion-view>