<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Inicio -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/page4">
    <ion-nav-view name="tab-page4"></ion-nav-view>
  </ion-tab>

  <!-- Scanner de QR's -->
  <!--<ion-tab title="Escanear" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" ng-click="scanner()" ng-controller="scannerCtrl">
    <ion-nav-view name="tab-page14"></ion-nav-view>
  </ion-tab>-->

      <!-- Promociones -->
  <ion-tab title="Promociones" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags-outline" ng-controller="promocionesCtrl">
    <ion-nav-view name="tab-page14"></ion-nav-view>
  </ion-tab>

  <!-- Llamar al mesero -->
  <ion-tab title="Mesero" icon-off="ion-android-hand" icon-on="icon ion-android-hand" ng-click="llamarMesero()" ng-controller="meseroCtrl">
    <ion-nav-view name="tab-page15"></ion-nav-view>
  </ion-tab>

  <!-- Mi Carrito -->
  <ion-tab title="Pedidos" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/page11">
    <ion-nav-view name="tab-page11"></ion-nav-view>
  </ion-tab>

  <!-- Configuración -->
  <ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/page12">
    <ion-nav-view name="tab-page12"></ion-nav-view>
  </ion-tab>
</ion-tabs>
